<h1> <%= @cat.name %> </h1>
<% if @cat.picture? %>
  <%= cl_image_tag(@user.picture.path, {size: '125x125', crop: :fit}) %>
<% end %>

<p><%= @cat.age %></p>
<p><%= @cat.gender %></p>
<p><%= @cat.fur_color %></p>

<%= link_to 'Edit', edit_cat_path(@cat) %>
<%= link_to 'Delete', cat_path(@cat), method: :delete %>
<%= link_to 'All Cats', cats_path %>
