<h1> <%= @cat.name %> </h1>
<img src=<%= @cat.picture.url(:thumb) %> />

<p><%= @cat.age %></p>
<p><%= @cat.gender %></p>
<p><%= @cat.fur_color %></p>

<%= link_to 'Edit', edit_cat_path(@cat) %>
<%= link_to 'Delete', cat_path(@cat), method: :delete %>
<%= link_to 'All Cats', cats_path %>
